doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  title Admin Dashboard
  // Montserrat Font
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  // Material Icons
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons+Outlined' rel='stylesheet')
  // Custom CSS
  link(rel='stylesheet' href='/css/ste.css')
.grid-container
  // Header
  header.header
    .menu-icon(onclick='openSidebar()')
      span.material-icons-outlined menu
    .header-left
      span.material-icons-outlined search
    .header-right
      span.material-icons-outlined notifications
      span.material-icons-outlined email
      span.material-icons-outlined account_circle
  // End Header
  // Sidebar
  aside#sidebar
    .sidebar-title
      .sidebar-brand
        span.material-icons-outlined shopping_cart
        |  STORE
      span.material-icons-outlined(onclick='closeSidebar()') close
    ul.sidebar-list
      li.sidebar-list-item
        a(href='#' target='_blank')
          span.material-icons-outlined dashboard
          |  Dashboard
      li.sidebar-list-item
        a(href='/stock' target='_blank')
          span.material-icons-outlined inventory_2
          // Sales Button
          button#product-btn.dashboard-btn STOCK
      li.sidebar-list-item
        a(href='#' target='_blank')
          span.material-icons-outlined groups
          // Sales Button
          button#sales-btn.dashboard-btn CUSTOMERS
      li.sidebar-list-item
        a(href='/creditsales' target='_blank')
          span.material-icons-outlined category
          // Sales Button
          button#sales-btn.dashboard-btn  CREDIT SALES
      li.sidebar-list-item
        a(href='/salesagent' target='_blank')
          span.material-icons-outlined category
          // Sales Button
          button#sales-btn.dashboard-btn SALES
      li.sidebar-list-item
        a(href='/manager' target='_blank')
          span.material-icons-outlined poll
          // Sales Button
          button#manager-btn.dashboard-btn PROCUMENTFORM
      li.sidebar-list-item
        a(href='/landing' target='_blank')
          span.material-icons-outlined settings
          // Sales Button
          button#home-btn.dashboard-btn LOGOUT
  // End Sidebar
  // Main
  main.main-container
    .main-title
      h2 DASHBOARD
    .main-cards
      .card
        .card-inner
          h3 PRODUCTS
          span.material-icons-outlined inventory_2
        h1 200
      .card
        .card-inner
          h3 SALES
          span.material-icons-outlined category
        h1 40
      .card
        .card-inner
          h3 CUSTOMERS
          span.material-icons-outlined groups
        h1 60
    .charts
      .charts-card
        h2.chart-title Top 5 Products
        #bar-chart
      .charts-card
        h2.chart-title Purchase and Sales Orders
        #area-chart
  // End Main
// Scripts
// ApexCharts
script(src='https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js')
// Custom JS
script(src='/js/ownerdashboard.js')
        