doctype html
head
  style.
    body {
    background-color:#2d3849;
    92850;
    margin: 0;
    font-family: Arial, sans-serif;
    }
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Stock
  style.
    .stock-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    }
    .stock-item {
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    }
    .stock-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    }
    .stock-item .description {
    margin-top: 10px;
    }
h1 Stock
.stock-container
  .stock-item
    img(src='rice.jpg' alt='Product 1')
    .description
      p Product 1
      p Available: 50 kilos
  .stock-container
    .stock-item
      img(src='beans.jpg' alt='Product 1')
      .description
        p Product 2
        p Available: 70 kilos
    .stock-container
      .stock-item
        img(src='peas.jpg' alt='Product 1')
        .description
          p Product 3
          p Available: 40 kilos
      .stock-container
        .stock-item
          img(src='corn.jpg' alt='Product 1')
          .description
            p Product 4
            p Available: 100 kilos
        .stock-container
          .stock-item
            img(src='soyabeans.jpg' alt='Product 1')
            .description
              p Product 5
              p Available: 80 kilos
          .stock-container
            .stock-item
              img(src='gnuts.jpg' alt='Product 1')
              .description
                p Product 6
                p Available: 60 kilos
